<h1>ユーザー編集ページ</h1>

<%= form_for @user do |f| %>
  <p>ニックネーム：<%= f.text_field :nickname %></p>
  <p>プロフィール：<%= f.text_field :profile %></p>
  <p><%= f.submit "更新する" %></p>
<% end %>


<hr>
<%= link_to "ユーザー一覧", users_path %> |
<%= link_to "Home", root_path %>