<div class="timeline cyan">
  <h2>ユーザー編集ページ</h2>

  <%= form_for @user do |f| %>
    <p>
      ニックネーム：
      <br>
      <%= f.text_field :nickname %>
    </p>
    <p>
      プロフィール：
      <br>
      <%= f.text_area :profile, :size => "30x10" %>
    </p>
    <div class="field">
      <p>
        プロフィール画像：
        <br>
        <%= f.file_field :image %>
      </p>
      <% if @user.image? %>
        <div><%=  image_tag @user.image.url%></div>
      <% else %>
        <div><%= image_tag 'noimage.gif' %></div>
      <% end %>
    </div>
    <p><%= f.submit "更新する" %></p>
  <% end %>
</div>

<hr>
<%= link_to "ユーザー一覧", users_path %> |
<%= link_to "Home", root_path %>
