<h2 class="left-add-margin"><%= @user.nickname %>さんのプロフィール</h2>
<div class="timeline cyan">
  <p>ユーザーID：<%= @user.id %></p>
  <p>ニックネーム：<%= @user.nickname %></p>
  <p>プロフィール：<%= @user.profile %></p>
  <h3>プロフィール画像</h3>
  <% if @user.image? %>
    <%=  image_tag @user.image.url%>
  <% else %>
    <%= image_tag 'noimage.gif' %>
  <% end %>
  <!-- ユーザー本人のみプロフィール編集リンクを表示 -->
  <% if current_user.id == @user.id %>
    <p><%= link_to "プロフィールを編集する", edit_user_path(@user.id) %></p>
  <% end %>
</div>
<p class="left-add-margin">
  <%= link_to "ユーザー一覧", users_path %> |
  <%= link_to "Home", root_path %>
</p>

