<h1><%= @user.nickname %>さんのプロフィール</h1>
<p>ユーザーID：<%= @user.id %></p>
<p>ニックネーム：<%= @user.nickname %></p>
<p>プロフィール：<%= @user.profile %></p>
<h2>プロフィール画像</h2>
<% if @user.image? %>
  <%=  image_tag @user.image.url%>
<% else %>
  <%= image_tag 'noimage.gif' %>
<% end %>
<!-- ユーザー本人のみプロフィール編集リンクを表示 -->
<% if current_user.id == @user.id %>
  <p><%= link_to "プロフィールを編集する", edit_user_path(@user.id) %></p>
<% end %>
<hr>
<%= link_to "ユーザー一覧", users_path %> |
<%= link_to "Home", root_path %>


