<h2 class="left-add-margin">管理画面</h2>
<div class="timeline cyan">
  <%= form_for @post do |f| %>
    <p>
      タイトル:
      <br>
      <%= f.text_field :title %>
    </p>
      <% if @post.errors.any? %>
        <%= @post.errors.messages[:title][0] %>
      <% end %>
    <p>
      内容:
      <br>
      <%= f.text_area :body, :size => "30x10" %>
    </p>
    <div class="field">
      <p>
        プロフィール画像：
        <br>
        <%= f.file_field :image %>
      </p>
      <% if @post.image? %>
        <div><%=  image_tag @post.image.url%></div>
      <% else %>
        <div><%= image_tag 'noimage.gif' %></div>
      <% end %>
    </div>
    <p><%= f.submit "更新する" %></p>
  <% end %>
  <p><%= link_to "削除する", "/posts/#{@post.id}" ,method: :delete %></p>
</div>
<p class="left-add-margin">
  <%= link_to "Home", root_path %>
</p>

