<h1>index</h1>
<%= link_to "新規作成", new_post_path %> |
<%= link_to "ユーザー一覧", users_path %>
<hr>
<h2>タイムライン</h2>
<% @posts.each do |post| %>
<p>タイトル：<%= post.title %></p>
<p>内容：<%= post.body %></p>
<p>ニックネーム：<%= post.user.nickname %></p>
<p>ユーザーID：<%= post.user_id %></p>
<p><%= link_to "詳細画面へ", post_path(post.id) %></p>
<p><%= link_to "管理画面へ", edit_post_path(post.id) %></p>
<a>---------------------</a>
<% end %>





